archive/deployed_automation/workflow-fixed-download-issue.json
{
  "name": "CV Screening with AI Agent - Fixed",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Process CVs Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1500, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1dMuo2J3L52QqDmHj0UOEe9MSk0gsPSNa",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "queryString": "mimeType='application/pdf' and trashed=false"
        }
      },
      "id": "get-all-cvs",
      "name": "Get All New CVs",
      "type": "n8n-nodes-base.googleDrive",
      "position": [-1300, 300],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "czkniWtEtuPsZAHm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.mimeType}}",
              "operation": "equals",
              "value2": "application/pdf"
            }
          ]
        }
      },
      "id": "filter-pdfs",
      "name": "Filter PDFs Only",
      "type": "n8n-nodes-base.if",
      "position": [-1100, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [-900, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{$json.id}}",
        "options": {}
      },
      "id": "e885b26e-8a5c-4894-bc25-37082623a06e",
      "name": "Download CV",
      "type": "n8n-nodes-base.googleDrive",
      "position": [-700, 300],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "czkniWtEtuPsZAHm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-500, 300],
      "id": "3a996a5f-9e01-4671-91b4-bc62d496b060",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze this CV for a Data Analyst position:\n\n{{ $json.text }}",
        "options": {
          "systemMessage": "You are an expert CV screening agent analyzing candidates for a Data Analyst position requiring Python, SQL, and data visualization skills.\n\nAnalyze the CV and return ONLY valid JSON:\n{\n  \"name\": \"candidate full name\",\n  \"email\": \"email if found\", \n  \"overall_score\": 0-100,\n  \"category\": \"Highly Qualified/Qualified/Possibly Qualified/Unqualified\",\n  \"matchedSkills\": [\"skill1\", \"skill2\"],\n  \"yearsExperience\": number,\n  \"redFlags\": [\"flag1\", \"flag2\"],\n  \"strengths\": [\"strength1\", \"strength2\", \"strength3\"],\n  \"recommendation\": \"hire/maybe/no with reasoning\"\n}",
          "temperature": 0.2,
          "maxRetries": 3
        }
      },
      "id": "ai-agent-scoring",
      "name": "AI Agent for Scoring",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.5,
      "position": [-300, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [-300, 450],
      "credentials": {
        "openAiApi": {
          "id": "Iyg2H3l8OfWgDCu4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst fileData = $('Download CV').item.json;\nconst fileName = fileData.name || 'Unknown';\nconst fileLink = fileData.webViewLink || fileData.alternateLink || '';\nconst fileId = fileData.id;\n\n// Check if agent succeeded\nlet aiAnalysis;\nlet processingSuccess = true;\n\ntry {\n  // Agent output is in the 'output' field\n  const agentOutput = $input.item.json.output;\n  \n  if (typeof agentOutput === 'string') {\n    // Remove markdown code blocks if present\n    const cleanOutput = agentOutput.replace(/```json\\n/g, '').replace(/```\\n/g, '').replace(/```/g, '');\n    aiAnalysis = JSON.parse(cleanOutput.trim());\n  } else {\n    aiAnalysis = agentOutput;\n  }\n} catch (error) {\n  processingSuccess = false;\n  aiAnalysis = {\n    overall_score: 0,\n    category: \"Error - Manual Review Needed\",\n    matchedSkills: [\"AI Analysis Failed\"],\n    redFlags: [error.message],\n    strengths: [],\n    recommendation: \"Please review manually\",\n    error: error.message\n  };\n}\n\n// Extract candidate name from AI or filename\nconst candidateName = aiAnalysis.name || fileName\n  .replace(/\\.pdf$/i, '')\n  .replace(/^CV_/i, '')\n  .replace(/_/g, ' ');\n\n// Format for Google Sheets and next steps\nreturn {\n  'Date Applied': new Date().toISOString().split('T')[0],\n  'Candidate Name': candidateName,\n  'CV Link': fileLink,\n  'Score': aiAnalysis.overall_score || aiAnalysis.score || 0,\n  'Category': aiAnalysis.category || 'Unknown',\n  'Matched Keywords': (aiAnalysis.matchedSkills || []).join(', '),\n  'Red Flags': (aiAnalysis.redFlags || []).join(', ') || 'None',\n  'Status': processingSuccess ? 'AI Reviewed' : 'Error - Review Needed',\n  'AI Recommendation': aiAnalysis.recommendation || 'No recommendation',\n  'Years Experience': aiAnalysis.yearsExperience || 'Unknown',\n  'Strengths': (aiAnalysis.strengths || []).slice(0, 3).join('; '),\n  // Metadata for routing\n  '_processingSuccess': processingSuccess,\n  '_fileId': fileId,\n  '_fileName': fileName,\n  '_error': aiAnalysis.error || null,\n  '_shouldResearch': processingSuccess && (aiAnalysis.overall_score >= 85 || aiAnalysis.score >= 85)\n};"
      },
      "id": "e2aea1ec-0fd4-46be-8dd4-648b46e380b8",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xfU9rzjBpb3NEHYzvMuHZ2R2QW_IYe5i3dCW7Ls-bII",
          "mode": "list",
          "cachedResultName": "CV Screening Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xfU9rzjBpb3NEHYzvMuHZ2R2QW_IYe5i3dCW7Ls-bII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xfU9rzjBpb3NEHYzvMuHZ2R2QW_IYe5i3dCW7Ls-bII/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Applied",
              "displayName": "Date Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV Link",
              "displayName": "CV Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Matched Keywords",
              "displayName": "Matched Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Red Flags",
              "displayName": "Red Flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Recommendation",
              "displayName": "AI Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Years Experience",
              "displayName": "Years Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3cb83fce-efbb-4128-bdc6-e124de7596be",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [300, 300],
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "di2sX6e1W7xHXFNa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json._processingSuccess}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Processing Success",
      "type": "n8n-nodes-base.if",
      "position": [500, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "svama85@gmail.com",
        "subject": "CV Processed: {{ $json['Candidate Name'] }} (Score: {{ $json.Score }})",
        "message": "<h2>CV Processing Complete</h2>\n<p>A new CV has been analyzed:</p>\n<ul>\n<li><strong>Candidate:</strong> {{ $json['Candidate Name'] }}</li>\n<li><strong>Score:</strong> {{ $json.Score }}/100</li>\n<li><strong>Category:</strong> {{ $json.Category }}</li>\n<li><strong>Years Experience:</strong> {{ $json['Years Experience'] }}</li>\n</ul>\n<h3>AI Analysis</h3>\n<p><strong>Strengths:</strong> {{ $json.Strengths }}</p>\n<p><strong>Matched Skills:</strong> {{ $json['Matched Keywords'] }}</p>\n<p><strong>Recommendation:</strong> {{ $json['AI Recommendation'] }}</p>\n<p><a href=\"{{ $json['CV Link'] }}\">View CV</a></p>",
        "options": {}
      },
      "id": "email-standard",
      "name": "Email - Standard",
      "type": "n8n-nodes-base.gmail",
      "position": [700, 200],
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "kHGNG9wgUFdTkiBE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": "={{$json._fileId}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1CQWsocqKluQnSkUdMGQsL-Owsr7aQXQn",
          "mode": "id"
        }
      },
      "id": "move-to-processed",
      "name": "Move to Processed",
      "type": "n8n-nodes-base.googleDrive",
      "position": [900, 200],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "czkniWtEtuPsZAHm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "svama85@gmail.com",
        "subject": "⚠️ CV Processing Error: {{ $json._fileName }}",
        "message": "<h2>CV Processing Error</h2>\n<p>An error occurred while processing a CV:</p>\n<ul>\n<li><strong>File:</strong> {{ $json._fileName }}</li>\n<li><strong>Error:</strong> {{ $json._error }}</li>\n<li><strong>Time:</strong> {{ $json['Date Applied'] }}</li>\n</ul>\n<p>The CV has been moved to the Failed folder for manual review.</p>\n<p><a href=\"{{ $json['CV Link'] }}\">View CV</a></p>",
        "options": {}
      },
      "id": "email-error",
      "name": "Email - Error Alert",
      "type": "n8n-nodes-base.gmail",
      "position": [700, 400],
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "kHGNG9wgUFdTkiBE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": "={{$json._fileId}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1mu9rgElrKMU1vt22EC7KaKWquw1EkJDP",
          "mode": "id"
        }
      },
      "id": "move-to-failed",
      "name": "Move to Failed",
      "type": "n8n-nodes-base.googleDrive",
      "position": [900, 400],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "czkniWtEtuPsZAHm",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Process CVs Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Get All New CVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All New CVs": {
      "main": [
        [
          {
            "node": "Filter PDFs Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDFs Only": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Download CV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download CV": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent for Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent for Scoring": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent for Scoring",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Check Processing Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processing Success": {
      "main": [
        [
          {
            "node": "Email - Standard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email - Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Standard": {
      "main": [
        [
          {
            "node": "Move to Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Error Alert": {
      "main": [
        [
          {
            "node": "Move to Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Processed": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Failed": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "meta": {},
  "pinData": {},
  "versionId": "1.0.0"
}