archive/batch-processing-nodes.json
{
  "name": "Batch CV Processing",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "queryString": "='{{ $json.folderId }}' in parents and mimeType='application/pdf' and trashed=false"
      },
      "id": "list-all-cvs",
      "name": "List All CVs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [250, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem"
      },
      "id": "manual-trigger",
      "name": "Manual Batch Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [50, 300]
    },
    {
      "parameters": {
        "jsCode": "// Your Google Drive folder ID\nreturn {\n  folderId: '1dMuo2J3L52QqDmHj0UOEe9MSk0gsPSNa'\n};"
      },
      "id": "set-folder-id",
      "name": "Set Folder ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [150, 300]
    }
  ],
  "connections": {
    "Manual Batch Trigger": {
      "main": [
        [
          {
            "node": "Set Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Folder ID": {
      "main": [
        [
          {
            "node": "List All CVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}