archive/n8n-cv-screening-workflow.json
{
  "name": "CV Screening Monitor with Scoring",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 5
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "={{$json.folderId}}",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {
          "downloadFiles": false
        }
      },
      "id": "google-drive-trigger",
      "name": "New CV Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [250, 300],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{GOOGLE_DRIVE_CREDENTIALS_ID}}",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{$json.id}}",
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "download-cv",
      "name": "Download CV Content",
      "type": "n8n-nodes-base.googleDrive",
      "position": [450, 300],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{GOOGLE_DRIVE_CREDENTIALS_ID}}",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Load scoring criteria\nconst scoringCriteria = {\n  requiredSkills: ['python', 'javascript', 'n8n', 'automation', 'api'],\n  bonusSkills: ['google workspace', 'workflow', 'integration'],\n  experienceKeywords: ['years experience', 'senior', 'lead', 'managed'],\n  educationKeywords: ['bachelor', 'master', 'degree', 'computer science'],\n  redFlags: ['gap in employment', 'frequent job changes']\n};\n\n// Get CV content\nconst cvContent = $input.item.binary.data.data.toLowerCase();\nconst fileName = $input.item.json.name;\n\n// Initialize scoring\nlet score = 0;\nlet matchedKeywords = [];\nlet redFlags = [];\nlet category = 'unqualified';\n\n// Check required skills (10 points each)\nscoringCriteria.requiredSkills.forEach(skill => {\n  if (cvContent.includes(skill.toLowerCase())) {\n    score += 10;\n    matchedKeywords.push(skill);\n  }\n});\n\n// Check bonus skills (5 points each)\nscoringCriteria.bonusSkills.forEach(skill => {\n  if (cvContent.includes(skill.toLowerCase())) {\n    score += 5;\n    matchedKeywords.push(skill);\n  }\n});\n\n// Check experience (5 points each)\nscoringCriteria.experienceKeywords.forEach(keyword => {\n  if (cvContent.includes(keyword.toLowerCase())) {\n    score += 5;\n  }\n});\n\n// Check education (5 points)\nscoringCriteria.educationKeywords.forEach(keyword => {\n  if (cvContent.includes(keyword.toLowerCase())) {\n    score += 5;\n    break;\n  }\n});\n\n// Check for red flags\nscoringCriteria.redFlags.forEach(flag => {\n  if (cvContent.includes(flag.toLowerCase())) {\n    redFlags.push(flag);\n    score -= 10;\n  }\n});\n\n// Categorize based on score\nif (score >= 50) {\n  category = 'qualified';\n} else if (score >= 30) {\n  category = 'possibly qualified';\n} else {\n  category = 'unqualified';\n}\n\n// Return structured data\nreturn {\n  fileName: fileName,\n  fileId: $input.item.json.id,\n  webViewLink: $input.item.json.webViewLink,\n  score: score,\n  category: category,\n  matchedKeywords: matchedKeywords.join(', '),\n  redFlags: redFlags.join(', '),\n  dateProcessed: new Date().toISOString(),\n  status: 'New'\n};"
      },
      "id": "score-cv",
      "name": "Score CV",
      "type": "n8n-nodes-base.code",
      "position": [650, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "{{GOOGLE_SHEET_ID}}",
        "range": "Candidates!A:H",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Applied": "={{$json.dateProcessed}}",
            "Candidate Name": "={{$json.fileName}}",
            "CV Link": "={{$json.webViewLink}}",
            "Score": "={{$json.score}}",
            "Category": "={{$json.category}}",
            "Matched Keywords": "={{$json.matchedKeywords}}",
            "Red Flags": "={{$json.redFlags}}",
            "Status": "={{$json.status}}"
          }
        }
      },
      "id": "log-to-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [850, 300],
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{{GOOGLE_SHEETS_CREDENTIALS_ID}}",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.category}}",
              "operation": "equals",
              "value2": "qualified"
            }
          ]
        }
      },
      "id": "check-qualified",
      "name": "Check if Qualified",
      "type": "n8n-nodes-base.if",
      "position": [1050, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "{{HR_EMAIL}}",
        "subject": "New Qualified Candidate - {{$node[\"Score CV\"].json.fileName}}",
        "message": "A new qualified candidate has been identified!\n\nCandidate: {{$node[\"Score CV\"].json.fileName}}\nScore: {{$node[\"Score CV\"].json.score}}\nCategory: {{$node[\"Score CV\"].json.category}}\nMatched Keywords: {{$node[\"Score CV\"].json.matchedKeywords}}\n\nView CV: {{$node[\"Score CV\"].json.webViewLink}}\n\nPlease review the candidate in the tracking spreadsheet.",
        "options": {}
      },
      "id": "notify-hr",
      "name": "Notify HR Team",
      "type": "n8n-nodes-base.gmail",
      "position": [1250, 250],
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "{{GMAIL_CREDENTIALS_ID}}",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "{{$node[\"Extract Email\"].json.email}}",
        "subject": "Application Received - {{COMPANY_NAME}}",
        "message": "Dear Candidate,\n\nThank you for your interest in joining {{COMPANY_NAME}}. We have received your application and it is currently being reviewed by our team.\n\nWe appreciate your patience as we carefully evaluate all applications. If your qualifications match our requirements, a member of our team will contact you to discuss the next steps.\n\nBest regards,\n{{COMPANY_NAME}} Recruitment Team",
        "options": {}
      },
      "id": "acknowledge-candidate",
      "name": "Send Acknowledgment",
      "type": "n8n-nodes-base.gmail",
      "position": [1250, 450],
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "{{GMAIL_CREDENTIALS_ID}}",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract email from CV content if possible\nconst cvContent = $input.item.binary.data.data;\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\nconst emails = cvContent.match(emailRegex);\n\nreturn {\n  email: emails && emails.length > 0 ? emails[0] : null,\n  hasEmail: emails && emails.length > 0\n};"
      },
      "id": "extract-email",
      "name": "Extract Email",
      "type": "n8n-nodes-base.code",
      "position": [850, 450],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hasEmail}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-email",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "position": [1050, 450],
      "typeVersion": 1
    }
  ],
  "connections": {
    "New CV Trigger": {
      "main": [
        [
          {
            "node": "Download CV Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download CV Content": {
      "main": [
        [
          {
            "node": "Score CV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score CV": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Check if Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Qualified": {
      "main": [
        [
          {
            "node": "Notify HR Team",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Email": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Send Acknowledgment",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": ["cv-screening", "automation", "google-workspace"]
}